
.zrel {
    position: relative;
}
.zcol {
    display: inline-block;
    vertical-align: top;
    width: 46%;
}
.zmargin {
    margin-right: 8%;
}
.ztools {
    position: absolute;
    width: 200px;
    right: -220px;
    top: 0;
}
.zcontent {
    font-size: 14px;
}
.zunderline {
    text-decoration: underline;
}
.zinline {
    display: inline-block;
}
.zseosucks {
    font-size: 16px;
    margin: 0;
}